<div class="room-details-form-container">
  <form [formGroup]="updateRoomForm" (ngSubmit)="submitForm()" class="room-details-form">
    <div class="form-title">Update Room Details</div>

    <div class="form-group">
      <input type="text" formControlName="name" placeholder="Room Name" class="form-control" />
    </div>

    <div class="form-group">
      <input type="text" formControlName="type" placeholder="Room Type" class="form-control" />
    </div>

    <div class="form-group">
      <input type="number" formControlName="price" placeholder="Room Price" class="form-control" />
    </div>

    <div class="form-group">
      <button type="submit" class="submit-btn" [disabled]="updateRoomForm.invalid">Update</button>
    </div>
  </form>
</div>
